*.py[cod]
docs/_build/
.DS_Store
site

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
MANIFEST

# Eclipse/PyDev/VSCode
.project
.pydevproject
.settings
.vscode

# Coverage
.coverage
htmlcov
